/* LOGIN CSS */
#loginForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 210px
}

#usernameLabel {
    order: 0;
}

#usernameText {
    width: 200px;
}

#passwordLabel {
    order: 1;
}

#passwordText {
    width: 200px;
}

#loginButton {
    margin-top: 10px;
    order: 2;
    width: 100px;
}

/* ACCOUNT MANAGER CSS */
#pullData, 
#toggleDataRefresh {
    margin: 10px 5px 0 5px;
}

#accounts {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10px;
}

.account {
    border: 1px solid black;
    flex: 1;
    margin: 0 5px;
}

.accountHeader {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.accountBody {
    padding: 10px 3px;
}

@keyframes colorFlash {
    from {background-color: green;}
    to {background-color: black;}
}

.flash {
    animation-duration: 1s;
    animation-name: colorFlash;
}